        <!-- footer content -->

        <footer>
          <div class="copyright-info">
            <p class="pull-right">website by <a href="htsolution.co.uk" target="_blank">Hightech </a>  
            </p>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->