
        <div class="left_col scroll-view">

          <div class="navbar nav_title" style="border: 0;">
            <a href="dashboard.html" class="site_title"><i class="fa fa-paw"></i> <span>ht Solution</span></a>
          </div>
          <div class="clearfix"></div>

          <!-- menu prile quick info -->
          <div class="profile">
            <div class="profile_pic">
              <img src="uploads/user/sant.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2>Santhosh M</h2>
            </div>
          </div>
          <!-- /menu prile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
              <h3>General</h3>
              <ul class="nav side-menu">
                <li><a href="dashboard.html"><i class="fa fa-home"></i> Dashboard </span></a>
                </li>
                <li><a><i class="fa fa-edit"></i> Book <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="book_smart_phone.html">Smart Device</a></li>
                    <li><a href="#">Computer</a></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-desktop"></i> Status<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="#">Collected/Resolved Jobs</a></li>
                    <li><a href="#">Media Gallery</a></li>
                    <li><a href="#">Repair Quotation</a></li>
                  </ul>
                </li>
				<li><a><i class="fa fa-desktop"></i> Others<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="#">Leads</a></li>
                    <li><a href="#">Refund</a></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-table"></i> Master Data<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="#">Product Type</a></li>
                    <li><a href="#">Make</a></li>
					<li><a href="#">Model</a></li>
					<li><a href="#">Brand</a></li>
					<li><a href="#">Mobie Network</a></li>
					<li><a href="#">Users</a></li>
					<li><a href="#">Search Channel</a></li>
					<li><a href="#">Terms & Conditions</a></li>
					<li><a href="#">Device Colours</a></li>
					<li><a href="#">Suppliers</a></li>
					<li><a href="#">Repair Quotation</a></li>
					<li><a href="#">Stock</a></li>
					<li><a href="#">Stock Status</a></li>
					<li><a href="#">Store Locations</a></li>
                  </ul>
                </li>
                <li><a href="#"><i class="fa fa-bar-chart-o"></i> Reports </span></a></li>
              </ul>
            </div>
            <div class="menu_section">
              <h3>DAILY SUMMARY</h3>
              <ul class="nav side-menu">
                <li><a href="#"><i class="fa fa-bug"></i> Closing Sheet </span></a></li>
                <li><a href="#"><i class="fa fa-windows"></i> Daily Sales Overview</span></a></li>
              </ul>
            </div>

          </div>
          <!-- /sidebar menu -->
        </div>